<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-css/bootstrap-reboot.min.css') }}">
</head>

<body>
    <div class="container">
        <div class="row h-100">
            <div class="col-sm-12 my-auto">
                <div class="card card-block w-50 mx-auto">
                    <form>
                        {{ form.csrf_token }}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input id="username" class="form-control" name="username" type="text" value="">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" class="form-control" name="password" type="password" value="">
                        </div>
                        <div class="form-group">
                            <label for="opt">opt</label>
                            <input id="opt" class="form-control" name="opt" type="text" value="">
                        </div>
                        <p>Do not have an account? <a href="/register">Registration</a></p>
                        <input id="submit" class="form-control" name="submit" type="submit" value="submit">
                    </form>
                    </div>
            </div>
        </div>


    </div>
    {%  block js %}
    <script src="{{ url_for('static', filename = 'styles/jQuery/jquery-3.5.1.js')}}"></script>
    <script src="{{ url_for('static', filename = 'styles/sha-256/sha256.js')}}"></script>
    <script src="{{ url_for('static', filename = 'styles/bootstrap-js/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'styles/bootstrap-js/bootstrap.bundle.min.js')}}"></script>
    <script>
        $(document).ready(function () {
            $("#submit").click(function () {
                event.preventDefault();
                var username = $("#username").val();
                var password = sha256($("#password").val());
                var csrf_token = $('#csrf_token').val();
                var opt = $('#opt').val();
                var mydata = {'csrf_token': csrf_token, 'username': username, 'password': password, 'dynamic': opt };
                $.post(
                    "/login",
                    mydata,
                    function (data, status) {
                        alert(data.msg);
                        if (data.status == "ERR") {
                            location.reload();
                        } else {
                            window.location.href = "/test";
                        }
                    });
            });
        });
    </script>
    {%  endblock %}
</body>

</html>