<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register | Obsidian</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-css/bootstrap-reboot.min.css') }}">
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }
    </style>
    {% include "common/checkLogin.html" %}
</head>

<body>
    {% include "common/header.html" %}
    <div class="container-fluid row bg-secondary m-0" style="height: 92%;">
        <div class="col-sm-12 my-auto">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-6 align-self-center text-white">
                    <div class="col w-50 mx-auto">
                        <p>haha</p>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <div class=" border border-dark rounded col w-25 mx-auto bg-light " style="min-width: 400px;">
                        <div class="p-4">
                            <div id="RForm">
                                <h1 class="text-center">Registration</h1>
                                <br>
                                <form>
                                    {{ form.csrf_token }}
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input id="username" class="form-control" required name="username" type="text"
                                            value="">
                                        <div id="usernameMessage" style="display: none;">
                                            <p id="usernameError">This username has been used!</p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input id="password" class="form-control" required name="password"
                                            type="password" value="">
                                        <div id="passwordMessage" class="pt-2" style="display: none;">
                                            <p id="passwordError">Your password should contains at least:</p>
                                            <p id="letter">A <b>lowercase </b>character</p>
                                            <p id="upper">A <b>uppercase </b>character</p>
                                            <p id="number">A <b>number </b></p>
                                            <p id="length">Minimum <b>8 characters</b></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="repassword">Confirm Password</label>
                                        <input id="repassword" class="form-control" required name="repassword"
                                            type="password" value="">
                                        <div id="rePasswordMessage" class="pt-2" style="display: none;">
                                            <p id="rePasswordError">The repassword is different.</p>
                                        </div>
                                    </div>
                                    <input id="submit" class="form-control bg-success text-white" name="submit"
                                        type="submit" value="Registration">
                                </form>
                            </div>
                            <div id="dOPT" style="display: none;">
                                <h1 class="text-center">Download OPT</h1>
                                <br>
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td colspan="2">You need to download the OPT in 30 minutes or the link will
                                                be distroyed.</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">Download link for:</td>
                                        </tr>
                                        <tr>
                                            <td><button id="dIdforAnd"
                                                    class="btn btn-primary btn-block">Android</button></td>
                                            <td><button id="dIDforWin"
                                                    class="btn btn-primary btn-block">Windows</button></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><button id="dLog" class="btn btn-success btn-block">Log
                                                    in</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
            </div>
        </div>
    </div>



    {%  block js %}
    <script src="{{ url_for('static', filename = 'styles/jQuery/jquery-3.5.1.js')}}"></script>
    <script src="{{ url_for('static', filename = 'styles/sha-256/sha256.js')}}"></script>
    <script src="{{ url_for('static', filename = 'styles/bootstrap-js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'styles/bootstrap-js/bootstrap.min.js')}}"></script>
    <script>
        $(document).ready(function () {
            var isPasswordValid = true;
            var isRepasswordValid = true;
            // move on the password and show.
            $("#password").focus(function () {
                if (!isPasswordValid) {
                    $("#passwordMessage").show();
                }

            });
            // move out on the password and hide.
            $("#password").blur(function () {
                if (isPasswordValid) {
                    $("#passwordMessage").hide();
                }

            });
            $("#password").keyup(function () {
                var isValid = true;
                var lowerCaseLetters = /[a-z]/g;
                var upperCaseLetters = /[A-Z]/g;
                var number = /[0-9]/g;
                var password = $("#password").val();

                if (password.match(lowerCaseLetters)) {
                    $("#letter").hide();
                } else {
                    $("#letter").show();
                    isValid = false;
                }
                if (password.match(upperCaseLetters)) {
                    $("#upper").hide();
                } else {
                    $("#upper").show();
                    isValid = false;
                }
                if (password.match(number)) {
                    $("#number").hide();
                } else {
                    $("#number").show();
                    isValid = false;
                }
                if (password.length < 8) {
                    $("#length").show();
                    isValid = false;
                } else {
                    $("#length").hide();
                }
                isPasswordValid = isValid;
                if (isValid) {
                    $("#passwordError").hide();
                    $("#passwordMessage").hide();
                } else {
                    $("#passwordError").show();
                    $("#passwordMessage").show();
                }
                repassword = $("#repassword").val();
                if (repassword.length != 0) {
                    if (repassword.match(password)) {
                        isRepasswordValid = true;
                        $("#rePasswordMessage").hide();
                    } else {
                        isRepasswordValid = false;
                        $("#rePasswordMessage").show();
                    }
                }

            });


            $("#repassword").keyup(function () {
                var password = $("#password").val();
                var repassword = $("#repassword").val();
                if (password.match(repassword)) {
                    isRepasswordValid = true;
                    $("#rePasswordMessage").hide();
                }
                else {
                    console.log("do not match")
                    isRepasswordValid = false;
                    $("#rePasswordMessage").show();
                }
            })

            $("#repassword").blur(function () {
                var password = $("#password").val();
                var repassword = $("#repassword").val();
                if (repassword.length != password.length) {
                    isRepasswordValid = false;
                    $("#rePasswordMessage").show();
                }
            })

            var dLinkforAnd;
            var dLinkforWin;

            $("#submit").click(function () {
                event.preventDefault();
                if (!isPasswordValid) {
                    alert("Password is not valid");
                    return;
                }
                if (!isRepasswordValid) {
                    alert("Password is not confirmed")
                    return;
                }
                var username = $("#username").val();
                var password = $("#password").val();
                var csrf_token = $('#csrf_token').val();
                password = sha256(password);
                var mydata = { 'csrf_token': csrf_token, 'username': username, 'password': password };
                $.post(
                    "/register",
                    mydata,
                    function (data, status) {
                        if (data.status == "ERR") {
                            alert(data.msg);
                        } else {
                            dLinkforAnd = data.android;
                            dLinkforWin = data.win;
                            $("#dOPT").show();
                            $("#RForm").hide();
                        }
                    });
            });
            $("#dIdforAnd").click(function () {
                window.open(dLinkforAnd, '_blank');
            })

            $("#dIdforWin").click(function () {
                window.open(dLinkforWin, '_blank');
            })
        });



    </script>
    {%  endblock %}
</body>

</html>