<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View | Obsidian</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link rel="stylesheet" href="https://formden.com/static/assets/demos/bootstrap-iso/bootstrap-iso/bootstrap-iso.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.1.2/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.dataTables.min.css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-css/bootstrap-reboot.min.css') }}">
	<style>
	body {
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 14px;
		line-height: 1.42857143;
		color: #333;
		background-color: #fff;
	}
	button, input, select, textarea {
		font-family: inherit;
		font-size: inherit;
		line-height: inherit;
	}
	</style>

</head>

<body>
    {% include "common/header.html" %}
	<br>
    <div class="container">
		<div id="table-wrapper" class="dataTables_wrapper no-footer">
			
			<button id="changeKey" class="dt-button" onclick="changeKey()">Set Secondary Password</button>
			<div class="dataTables_filter">
				<label>Secondary Password: <input type="search" id="spwd" value="" class placeholder></label>
			</div>
			
		</div>
        <table cellpadding="0" cellspacing="0" border="0" class="dataTable table table-striped" id="table">
        </table>
    </div>


    <!--初始化代码-->
    <script src="{{ url_for('static', filename = 'styles/jQuery/jquery-3.5.1.js')}}"></script>
    <script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename = 'styles/bootstrap-js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename = 'styles/bootstrap-js/bootstrap.min.js')}}"></script>

    <script src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
    <script rel="stylesheet" src="{{ url_for('static',filename='js/dataTables.altEditor.free.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
	<script>
		var key = CryptoJS.enc.Utf8.parse(""); 
    	var iv = CryptoJS.enc.Utf8.parse('ABCDEF1234123412');
		function Decrypt(word) {
			let encryptedHexStr = CryptoJS.enc.Hex.parse(word);
			let srcs = CryptoJS.enc.Base64.stringify(encryptedHexStr);
			let decrypt = CryptoJS.AES.decrypt(srcs, key, { iv: iv, mode: CryptoJS.mode.CBC, padding: CryptoJS.pad.Pkcs7 });
			try{
                let decryptedStr = decrypt.toString(CryptoJS.enc.Utf8);
			    return decryptedStr.toString();
            }
            catch(err){
                console.log(err);
                return "".toString();
            }
    	}


		function Encrypt(word) {
			let srcs = CryptoJS.enc.Utf8.parse(word);
			let encrypted = CryptoJS.AES.encrypt(srcs, key, { iv: iv, mode: CryptoJS.mode.CBC, padding: CryptoJS.pad.Pkcs7 });
			return encrypted.ciphertext.toString();
        }

        function changeKey() {
			let keyvalue = document.getElementById("spwd").value;
            sessionStorage.setItem('key', keyvalue);

			key = CryptoJS.enc.Utf8.parse(keyvalue.padEnd(32,"@").slice(0,32));
            $('#spwd').attr("readonly",true);
            $("#changeKey").hide();
            load_data();
		}

        function DecryptJson(j){
            console.log("start")
            for(var key in j){
                if (key=='uuid')continue;
                j[key] = Decrypt(j[key]);
            }
            console.log("end")
            return j;
        }

        function EncryptJson(j){

            for(var key in j){
                if (key=='uuid')continue;

                j[key] = Encrypt(j[key]);
            }

            return j;
        }
        function load_data() {
                let result = [];
                $.ajax({
                    type: "post",
                    async: false,
                    url: "/getKeyChain",
                    data: {},
                    success: function (msg) {
                        result = msg['data'];
                    }
                });
                var tmp = {}
                for(var i =0;i<result.length;i++){
                    result[i]=DecryptJson(result[i])
                }

                var columnDefs = [{
                    data: "uuid",
                    title: "uuid",
                    type: "readonly"
                },
                {
                    data: "weburl",
                    title: "website"
                },
                {
                    data: "username",
                    title: "username"
                },
                {
                    data: "password",
                    title: "password"
                },
                {
                    data: "comment",
                    title: "comment."
                }];
				
				var myTable;
                myTable = $('#table').DataTable({
                    "sPaginationType": "full_numbers",
                    data: result,
                    columns: columnDefs,
                    dom: 'Bfrtip',        // Needs button container
                    select: 'single',
                    responsive: true,
                    altEditor: true,     // Enable altEditor
                    buttons: [{
                        text: 'Add',
                        name: 'add'        // do not change name
                    },

                    {
                        extend: 'selected', // Bind to Selected row
                        text: 'Edit',
                        name: 'edit'        // do not change name
                    },

                    {
                        extend: 'selected', // Bind to Selected row
                        text: 'Delete',
                        name: 'delete'      // do not change name
                    }],
					
                    onAddRow: function (datatable, rowdata, success, error) {
                        rowdata = EncryptJson(rowdata);
                        rowdata['type'] = 'ADD';
                        $.ajax({
                            // a tipycal url would be / with type='PUT'
                            url:"/updateKeyChain",
                            datatype: "json",
                            contentType: 'application/json; charset=UTF-8',
                            data: JSON.stringify(rowdata),
                            type: 'POST',
                            success: function(){location.reload();},
                            error: error
                        });
                    },
                    onDeleteRow: function (datatable, rowdata, success, error) {
						rowdata = EncryptJson(rowdata);
                        rowdata['type'] = 'DEL';
                        $.ajax({
                            // a tipycal url would be / with type='PUT'
                            url:"/updateKeyChain",
                            type: 'POST',
                            datatype: "json",
                            contentType: 'application/json; charset=UTF-8',
                            data: JSON.stringify(rowdata),
                            success: function(){location.reload();},
                            error: error
                        });
                    },
                    onEditRow: function (datatable, rowdata, success, error) {
						rowdata = EncryptJson(rowdata);
                        rowdata['type'] = 'EDI';
                        $.ajax({
                            // a tipycal url would be / with type='PUT'
                            url:"/updateKeyChain",
                            type: 'POST',
                            datatype: "json",
                            contentType: 'application/json; charset=UTF-8',
                            data: JSON.stringify(rowdata),
                            success: function(){location.reload();},
                            error: error
                        });
                    }
                    
                });

            }

        $(document).ready(
            //sessionStorage.setItem('key', 'have a test');
            function (){
                var key_data = sessionStorage.getItem('key');
                $("#changeKey").hide();
                $('#spwd').attr("readonly",false)
                if (key_data==null || key_data==""){
                    alert("Please enter a secondary password first");
                    $("#changeKey").show();
                    $('#spwd').attr("readonly",false);
                }else{
                    document.getElementById("spwd").value = key_data;
                    key = CryptoJS.enc.Utf8.parse(key_data.padEnd(32,"@").slice(0,32));
                    load_data();
                }

            }
        );
    </script>
</body>

</html>