<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>View | Obsidian</title>
	<script src="static/jquery.min.js"></script>

  </head>
  <body>
	<h1>Welcome</h1>
	<hr>
	<form action="/myform" method='post'>
	First name: <input type="text" name="Website" id="website"><br>
	Last name: <input type="text" name="Username" id="username"><br>
	Password: <input type="text" name='Password' id='password'><br>
	Note: <input type="text" name='Note' id='note'><br>
	<input type="submit" value="Add to Database">
	</form>
	<div id="createtable">
		{%  block js %}
		<script>
		$.getJSON("/mytable",function(data){
            if(data.length > 0)
            {
                $("#createtable").empty();
                var table=$("<table border='1' cellspacing='0'> </table>");
                table.appendTo($("#createtable"));

                var trh=$("<tr></tr>");
                trh.appendTo(table);

                for(var h=0; h<data[0].length; h++)
                {
                    var th = $("<th>" +data[0][h]+"</th>");
                    th.appendTo(trh);
                }

                for(var r=1; r<data.length; r++)
                {
                    var tr=$("<tr></tr>");
                    tr.appendTo(table);

                    for(var j=0;j<data[r].length;j++)
                    {
                        var td=$("<td>"+data[r][j]+"</td>");
                        td.appendTo(tr);
                    }
                }
            }
        });
		</script>
		{%  endblock %}
	</div>
  </body>
</html>